<!DOCTYPE html>
    <html>
        <head>
            <title>nest-project</title>
            <link rel="stylesheet" href="../public/css/styles.css">
        </head>
    <body>
        <div class="top-menu">
            <a href="/">Home</a>
            <a href="/articles">Forum</a>
            <a href="/chat">Chat</a>
            <a href="/user">My page</a>
        </div>

        </br></br></br>

        <section class="content-section">
            <table class="board">
                <tr class="table-head">
                    <th class="table-head-item"> Article Number </th>
                    <th class="table-head-item"> Title </th>
                    <th class="table-head-item"> Posted date </th>
                    <th class="table-head-item"> Author </th>
                </tr>
                <% articles.forEach((article) => { %>
                    <tr class="table-row">
                        <td class="table-column">
                            <a href="/articles/<%= article.article_id %>" ><%= article.article_id %></a>
                        </td>
                        <td class="table-column">
                            <a href="/articles/<%= article.article_id %>" ><%= article.title %></a>
                        </td>
                        <td class="table-column">
                            <a><%= article.post_date %></a>
                        </td>
                        <td class="table-column">
                            <a><%= article.author %></a>
                        </td>
                    </tr>
                <% }); %>
            </table >
        </br>
        <div class="pagination">
        <% for (let i = pagination.startPage; i <= pagination.endPage; i++) { %>
            <a href="/articles?items-per-page=pagination.itemsPerPage&current-page=<%= i %>"><%= i %></a>
        <% } %>
        </div>
        <div class="field-button">
            <button type="button" id="new" onclick="location.href='/articles/article-format'">New</button>
        </div>
        </section>

    <script src="../public/javascript/script.js"></script>
    </body>
</html>

