<!DOCTYPE html>
    <html>
        <head>
            <title>nest-project</title>
            <link rel="stylesheet" href="../public/css/styles.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        </head>
    <body>
        <div class="top-menu">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
        </div>
        </br></br>

        <section class="content-section">
            <table class="board">
                <tr class="board-row">
                    <td class="board-column">
                        <a>Title: </a>
                        <a><%= article.title %></a>
                    </td>
                    <td class="board-column">
                        <a>Author: </a>
                        <a><%= article.author %></a>
                    </td>
                </tr>
                <tr class="board-row">
                    <td class="board-column">
                        <a>Posted date: </a> </br>
                        <a><%= article.post_date %></a>
                    </td>
                    <td class="board-column">
                        <a>Updated date: </a> </br>
                        <a><%= article.update_date %></a>
                    </td>
                </tr>
                <tr class="board-row">
                    <td class="board-column" colspan="2">
                        <a>Contents: </a> </br>
                        <a><%= article.content %></a>
                    </td>
                </tr>
            </table>
            <div class="field-button">
                <button type="button" id="back" onclick="location.href='/articles'">Back</button>
                <button type="button" id="edit" onclick="editArticle()">Edit</button>
                <button type="button" id="delete" onclick="deleteArticle('<%= article.article_id %>', '<%= article.author %>')">Delete</button>
            </div>
        </section>
        <script src="../public/javascript/script.js"></script>
    </body>
</html>

