<!DOCTYPE html>
    <html>
        <head>
            <title>nest-project</title>
            <link rel="stylesheet" href="../public/css/styles.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        </head>
    <body>
        <div class="top-menu">
            <a href="/">Home</a>
            <a href="/articles">Forum</a>
            <a href="/chat">Chat</a>
            <a href="/user">My page</a>
        </div>
        </br></br>

        <section class="content-section">
            <table class="article">
                <tr class="article-row">
                    <td class="article-column" colspan="3">
                        <a>Title: </a>
                        <a><%= article.title %></a>
                    </td>
                </tr>
                <tr class="article-row">
                    <td class="article-column">
                        <a>Posted date: </a> </br>
                        <a><%= article.post_date %></a>
                    </td>
                    <td class="article-column">
                        <a>Updated date: </a> </br>
                        <a><%= article.update_date %></a>
                    </td>
                    <td class="article-column">
                        <a>Author: </a>
                        <a><%= article.author %></a>
                    </td>
                </tr>
                <tr class="article-row">
                    <td class="article-column" colspan="3">
                        <a>Contents: </a> </br>
                        <a><%= article.content %></a>
                    </td>
                </tr>
                <tr class="article-row">
                    <td class="article-column" id="comment" colspan="2" >
                        <textarea id="comment-text"></textarea>
                    </td>
                    <td class="article-column" id="comment-button" colspan="1">
                        <button type="button" onclick="postComment('<%= article.article_id %>')">Post comment</button>
                    </td>
                </tr>
            </table>

            <table class="article-comment">
                <% for (let i = 0; i < comments.length; i++) { %> 
                    <tr class="article-comment-row">
                        <td class="article-comment-column" >
                            <span> <%= comments[i].author %> </span>
                        </td>
                        <td class="article-comment-column" colspan="2">
                            <span> <%= comments[i].time %> </span>
                        </td>
                    </tr>
                    <tr class="article-comment-row">
                        <td class="article-comment-column" style="width:60%;" >
                            <span> <%= comments[i].content %> </span>
                        </td>
                        <td class="article-comment-column" style="width:20%;">
                            <button type="button" id="edit-comment" onclick="getEditingCommentFormat('<%= comments[i].comment_id %>')">Edit</button>
                        </td>
                        <td class="article-comment-column"style="width:20%;">
                            <button type="button" id="delete-comment" onclick="deleteComment('<%= comments[i].comment_id %>', '<%= comments[i].depth %>')">Delete</button>
                        </td>
                    </tr>
                    <tr class="article-comment-row, hidden" id="commentEdit<%= comments[i].comment_id %>">
                        <td class="article-comment-column" colspan="2" >
                            <textarea style="width: 99%;" id="comment-edit-content<%= comments[i].comment_id %>" ><%= comments[i].content %></textarea>
                        </td>
                        <td class="article-comment-column">
                            <button type="button" onclick="putComment('<%= comments[i].comment_id %>')">Save</button>
                        </td>
                    </tr>
                    <tr class="article-comment-row">
                        <td></td>
                    </tr>
                <% } %>
            </table>

            <table class="article-button">
                <tr class="article-button-row" >
                    <td class="article-button-column">
                        <button type="button" id="back" onclick="location.href='/articles'">Back</button>
                    </td>
                    <td class="article-button-column">
                        <button type="button" id="edit" onclick="location.href=`/articles/${<%= article.article_id %>}/edit`">Edit</button>
                    </td>
                    <td class="article-button-column">
                        <button type="button" id="delete" onclick="deleteArticle('<%= article.article_id %>', '<%= article.author %>')">Delete</button>
                    </td>
                </tr>
            </table>

        </section>

        <script src="../public/javascript/script.js"></script>
    </body>
</html>

